<h1 class="text-center mt-4 text-white fw-bold" ><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200 %>

<h2 class="text-center mt-4 text-white fw-bold" >Articles</h2>

<%= render 'articles/article' %>
