<h1 class="text-center mt-4 text-white fw-bold" >Edit category name</h1>
 
<div class="container shadow w-50 p-3 rounded-3">
  <%= render 'form'%>
  <%= link_to 'Back', category_path(@category) %>
</div>

